@import "./components/movieList.scss";
@import "./components/detailModal.scss";
@import "./components/form.scss";
@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');

* {
    font-family: "Offside", sans-serif;
    font-weight: 400;
}

input {
    outline: none;
}